body {
    max-width: 100%;
    overflow-x: hidden;
}

*::-webkit-scrollbar {
    /* Vertical scrollbar width */
    width: 4px;
    /* Horizontal scrollbar height */
    height: 4px;
}

*::-webkit-scrollbar-thumb {
    /* Scrollbar thumb color */
    background: color-mix(in srgb, var(--default-color), transparent 60%);
    /* Optional: Rounded corners */
    border-radius: 5px;
}

*::-webkit-scrollbar-track {
    /* Scrollbar track color */
    background: transparent;
}

*::-webkit-scrollbar-thumb:hover {
    /* Change appearance on hover */
    background: color-mix(in srgb, var(--default-color), transparent 25%);
}

*::-webkit-scrollbar-thumb:active {
    /* Change appearance on active/click */
    background: color-mix(in srgb, var(--accent-color), transparent 10%);
}

/* ================== Skill Section START =============*/

.skills-card {
    position: relative;
    width: 100%;
    background-color: var(--background-color);
    padding: 5%;
    padding-top: 0%;
    margin: auto;
    margin-bottom: 4%;
    border-bottom: 1px solid color-mix(in srgb, var(--default-color), transparent 40%);
    overflow: visible !important;
}

.skills-card:after,
.skills-card:before {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background-color: var(--background-color);
    box-shadow: 0 15px 12px rgba(0, 0, 0, 0.5);
    transform: rotate(-3deg);
}

.skills-card::after {
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}

.skill-item {
    display: inline;
    margin: 25px 0 !important;
}

.skill-item i {
    font-size: 50px !important;
    min-height: 20px !important;
}

.skill-item svg {
    width: 35px !important;
    min-height: 20px !important;
    padding: 0;
    margin: 0;
}

.skill-item .icon-color {
    color: color-mix(in srgb, var(--default-color), transparent 25%) !important;
}

.skill-item h6 {
    text-align: center;
    margin: auto;
    font-size: 1em;
    padding-top: 5px;
    color: color-mix(in srgb, var(--default-color), transparent 10%);
}

.skill-item i.icon-color:hover,
.skill-item svg.icon-color:hover {
    color: var(--accent-color) !important;
}

.skill-item i,
.skill-item svg {
    /* Smooth transition on hover */
    transition: color 0.3s ease !important;

}



.skills-info {
    padding: 3% 0% 3% 0%;
}

/* ================== Skill Section START =============*/


/*  Shadow to contact boxes */
.box-shadow {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}


.download-btn {
    color: var(--contrast-color) !important;
    background: var(--accent-color);
    border: 0;
    padding: 10px 30px;
    transition: 0.4s;
    border-radius: 50px;
}

.download-btn:hover {
    background: color-mix(in srgb, var(--accent-color), transparent 25%);
}

/* Loader for send message button */
.loading-spinner {
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top-color: #ffffff;
    animation: spin 1s linear infinite;
    margin-right: 8px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.contact .php-email-form button[type=submit]:disabled {
    background: color-mix(in srgb, var(--accent-color), transparent 30%);
    cursor: not-allowed;
}

@media (max-width: 575px) {
    .skills-card {
        margin-bottom: 15%;
    }

    .portfolio .portfolio-filters li {
        /* Temp css override*/
        margin-left: 4px !important;
    }

    .skills-info {
        padding: 0%;
        padding-bottom: 15%;
    }

    .skills-card {
        width: 100%;
    }
}

/* ================== Toggle Theme Button START =============*/
.header .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    /* Ensure the container takes full height */
    padding-top: 15px;
}

.theme-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 16px;
    z-index: 9997;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: color-mix(in srgb, var(--default-color), transparent 92%);
    color: var(--nav-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    /* Margin from left */
    margin-left: 0.4rem;
    /* Space between butston and nav links */
    margin-bottom: 1rem;
}

.theme-toggle:hover {
    background-color: color-mix(in srgb, var(--default-color), transparent 85%);
    color: var(--accent-color);
}

.theme-toggle .bi {
    color: var(--nav-color);
}

.theme-toggle:hover .bi {
    color: var(--accent-color);
}

/* ================== Toggle Theme Button END =============*/


/* ========== Portfolio detail page START ================= */

.tech-used {
    display: flex;
    flex-wrap: wrap;
    gap: 0.7rem;
    margin-top: 0.5rem;
}

.tech-tag {
    display: flex;
    align-items: center;
    background-color: color-mix(in srgb, var(--default-color), transparent 92%);
    color: color-mix(in srgb, var(--default-color), transparent 10%);
    padding: 0.25rem 0.75rem;
    border-radius: 12px;
    font-size: 0.9rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.tech-tag .tech-icon {
    margin-right: 0.5rem;
    font-size: 1rem;
}

.tech-tag:hover {
    background-color: color-mix(in srgb, var(--default-color), transparent 85%);
    color: var(--accent-color);
    cursor: default;
}

/* ========== Portfolio detail page END ================= */



.portfolio .portfolio-filters li {
    /* Temp css override*/
    margin-left: 4px !important;
}

.custom-border {
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
    /* Set border color and width */
    border-radius: 0.4rem;
    /* Rounds the corners (adjust as needed) */
}


.portfolio .portfolio-item .portfolio-info {
    border-top: 0px;
}

.portfolio-image-wrapper {
    position: relative;
}

.icon-wrapper {
    position: absolute;
    margin: 2px;
    z-index: 10;
    /* border-width: 0px; */
    background: color-mix(in srgb, var(--background-color), transparent 10%);
    padding: 6px;
}

/* ========== Glightbox START ================= */


@media (min-width: 768px) {

    .glightbox-clean .gslide-description {
        background: color-mix(in srgb, var(--background-color), transparent 10%) !important;
    }


    .glightbox-clean .gdesc-inner .gslide-title {
        font-size: 18px !important;
        font-weight: 600 !important;
        color: var(--heading-color) !important;
        font-family: var(--heading-font) !important;
    }

    .glightbox-clean .gdesc-inner .gslide-desc {
        color: color-mix(in srgb, var(--default-color), transparent 30%) !important;
        font-size: 14px !important;
    }

    .glightbox-clean .gdesc-inner .gslide-desc .desc-more {
        color: color-mix(in srgb, var(--default-color), transparent 50%) !important;
    }
}

/* ========== Glightbox END ================= */


/* Invalid validation */

.invalid-feedback {
    font-size: 12px;
    margin-left: 2px;
}

.coding-profile-icon:hover {
    opacity: 0.75;
    /* Makes the icon 80% visible */
    transition: opacity 0.3s ease-in-out;
    /* Smooth transition effect */
}

.cursor-default {
    cursor: default;
}